body{
  background: azure;
}
.mainContainer{
  padding: 0 60px;
}
.title{
  text-align: center;
  font-size: 60px;
  color: gray;
  font-family: 'Henny Penny', cursive;
  font-family: 'Indie Flower', cursive;
  font-family: 'Shizuru', cursive;
}
.spectrum{
  border: grey;
  border-radius: 30px;
  padding: 20px;
}
.clear{
  padding: 20px;
  border-radius: 30PX;
  border: grey;
}
.container{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 100%;
    margin: 20px;
}
.flexChild {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    width: fit-content;
  }
  .col {
    height: 40px;
    width: 40px;
    border: 1px groove black;
    
  }
  .colorPicker{
    border-radius: 30px;
    padding: 15px 20px;
    margin-bottom: 5px;
  }
  #colorWell{
    border: 0;
    background: transparent;
    display: contents;
  }
