.container{
    display: flex;
    flex-direction: column;
    width: 960px;
    margin: 20px;
}
.flexChild {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid black;
    width: fit-content;
  }
  .col {
    height: 40px;
    width: 40px;
    border: 1px groove black;
    
  }
  .colorPicker{
    padding: 5px;
    border: 3px solid blue;
    margin-bottom: 5px;
  }
  #colorWell{
    border: 0;
    background: transparent;
    display: contents;
  }
